{% extends "base.html.twig" %}

{% block body %}
    <form method="POST" action="{{ path('login_route') }}" novalidate>
        {{
            form_widget(
                loginForm.email,
                {
                    'attr': {
                        'placeholder': "Your email address"
                    }
                }
            )
        }}
        {{ form_errors(loginForm.email) }}

        {{
            form_widget(
                loginForm.password,
                {
                    'attr': {
                        'placeholder': "Your password"
                    }
                }
            )
        }}
        {{ form_errors(loginForm.password) }}

        {{ form_widget(loginForm.check) }}

        {{ form_widget(loginForm._token) }}
        <input type="submit" value="Login">
    </form>
{% endblock %}