{% extends "base.html.twig" %}

{% block body %}
    <form method="POST" action="{{ path('signup_route') }}" novalidate>
        {{
            form_widget(
                signupForm.name,
                {
                    'attr': {
                        'placeholder': "Your name"
                    }
                }
            )
        }}
        {{ form_errors(signupForm.name) }}

        {{
            form_widget(
                signupForm.email,
                {
                    'attr': {
                        'placeholder': "Your email address"
                    }
                }
            )
        }}
        {{ form_errors(signupForm.email) }}

        {{
            form_widget(
                signupForm.password,
                {
                    'attr': {
                        'placeholder': "Your password"
                    }
                }
            )
        }}
        {{ form_errors(signupForm.password) }}

        {{ form_widget(signupForm.check) }}

        {{ form_widget(signupForm._token) }}
        <input type="submit" value="Sign Up Free">
    </form>
{% endblock %}